<div class="profile" style="display: flex;align-items: center;grid-gap: 10px;">
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzHMDlwRCHOHZP_tX7jRYNxV8W8MpNEog45w&s"
        alt
        onerror="this.onerror=null;this.src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzHMDlwRCHOHZP_tX7jRYNxV8W8MpNEog45w&s" />
    <!-- <div>
        <h2 style="margin: 0;
    line-height: 21px;
    white-space: nowrap;
    font-size: 15px;">Heak Longdy</h2>
        <p class="title" style="margin: 0;font-size: 12px;">Admin</p>
    </div> -->
    <ul class="profile-link">
        <div class="profile-card">
            <div class="user-info">
                <img class="avatar"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzHMDlwRCHOHZP_tX7jRYNxV8W8MpNEog45w&s"
                    alt="Profile Picture"
                    onerror="this.onerror=null;this.src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzHMDlwRCHOHZP_tX7jRYNxV8W8MpNEog45w&s">
                <div class="user-details">
                    <h2>Heak Longdy</h2>
                    <p class="title">Admin</p>
                    <p class="email"><i class="email-icon"></i>Longdyheak@gmail.com</p>
                </div>
            </div>
            <hr>
            <ul class="profile-menu">
                <li>
                   <i class='bx bx-user'></i> 
                    <div>
                        <p>My Profile </p>
                        <span>Account Settings</span>
                    </div>
                </li>
                <li>
                    <i class='bx bx-at'></i> 
                    <div>
                        <p>My Inbox </p>
                        <span>Messages & Emails</span>
                    </div>
                </li>
                <li>
                    <i class='bx bx-check-circle'></i> 
                    <div>
                        <p>My Tasks </p>
                        <span>To-do and Daily Tasks</span>
                    </div>
                </li>
            </ul>
            <a href="/auth/logout">
            <button class="logout-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>
                <span>Logout</span>
            </button>
            </a>
        </div>
    </ul>
</div>