{% extends 'web/layout.html' %}

<!-- slide -->
{% block slide %}
{% include 'web/slide.html' %}
{% endblock %}

{% block content %}
<div class="hero-section">
    <h1>Get Inspired</h1>
    <p>Browsing for your next long-haul trip, everyday
        journey,
        or just fancy a look at what's new? From community
        favourites to about-to-sell-out items, see them all
        here.</p>
</div>

<div class="filters">
    <div class="filter">
        <select>
            <option>Category</option>
            <option>All Categories</option>
        </select>
    </div>
    <div class="filter">
        <select>
            <option>Color</option>
            <option>All Colors</option>
        </select>
    </div>
    <div class="filter">
        <select>
            <option>Features</option>
            <option>All Features</option>
        </select>
    </div>
    <div class="filter">
        <select>
            <option>Price</option>
            <option>From $0 - $1000</option>
        </select>
    </div>
    <div class="filter">
        <select>
            <option>Sort</option>
            <option>New In</option>
        </select>
    </div>
</div>

<div class="products">
    {% for product in queryData %}
    <div class="product-card">
        <div class="product-image">
            <div class="color-indicator yellow"></div>
            <div class="variant-count">+ {{ product.qty }}</div>
            {% if product.image %}
            <img src="{{ url_for('static', filename='static/uploads/' + product.image) }}" alt="Shibuya Totepack">
            {% else %}
            <div class="variant-count">No image</div>
            {% endif %}
        </div>
        <div class="product-info">
            <h3>{{product.name}}</h3>
            <p class="subtitle">{{product.newCategoryName}}</p>
            <span class="price">${{product.price}}</span>
        </div>
        <div class="cartAction">
            {% if session.get('user_id') %}
            <button class="addProductBtn" @click="addCart(`{{product.id}}`,`{{product.name}}`,`{{product.image}}`,`{{product.price}}`,`{{product.newCategoryName}}`)" style><i
                    class='bx bx-cart'></i>&nbsp;Add to
                Cart</button>
            {% else %}
            <a href="/website/login">
                <button class="addProductBtn">
                    <i class='bx bx-cart'></i>&nbsp;Add to
                    Cart</button>
            </a>
            {% endif %}
            <a href="/details/{{product.id}}">
                <button class="viewProductBtn" style><i class='bx bx-eye'></i></button>
            </a>
        </div>

    </div>

    {% endfor %}
</div>
{% endblock %}